<main role="main" class="container" ng-init="init();" >
	<div ng-show="step==1" id="step">
		<form  class="form-row">
			<h4 class="panel-title"></h4>
			<table class="table table-striped  table-dark col-12">
				<tbody>
					<tr>
					  <td width="70%" class="text-warning">赔率  Odds</td>
					  <td  class="font-weight-bold" ng-bind="odds[input.outs]" ></td>
					</tr>
					<tr>
					  <td class="text-warning">保金上限 Maximum</td>
					  <td class="font-weight-bold" ng-bind="'$'+input.i_maximum" ng-init="input.i_maximum=0"></td>
					</tr>
					<tr>
					  <td class="text-warning">保本 50 %</td>
					  <td class="font-weight-bold" ng-bind="'$'+input.percentage50" ng-init="input.percentage50=0"></td>
					</tr>
					<tr>
					  <td class="text-warning">保额 insurance amount</td>
					  <td class="font-weight-bold" ng-bind="'$'+input.insuredamount" ng-init="input.insuredamount=0"></td>
					</tr>
					<tr ng-show="input.fpot >0">
						<td class="text-warning">翻牌圈底池 flop pot</td>
						<td class="font-weight-bold">${{input.fpot}}</td>
					</tr>
					<tr ng-show="input.famount >0">
						<td class="text-warning"> 翻牌圈保金 buy flop amount</td>
						<td class="font-weight-bold">${{input.famount}}</td>
					</tr>
				</tbody>
			</table>
			<div class="form-group col-12">
				<label >玩家人数/All In Players</label>
				<div class="col-12">
					<input type="button" class="btn btn-primary text-white col-3" ng-class="input.players==2?'btn-danger':''" ng-disabled="input.players_disabled"  ng-click="input.players=2;" role="button" value="2">
					<input type="button" class="btn btn-primary text-white col-3" ng-class="input.players==3?'btn-danger':''" ng-disabled="input.players_disabled"  ng-click="input.players=3;" role="button" value="3">
					<input type="button" class="btn btn-primary text-white col-3" ng-class="input.players==4?'btn-danger':''" ng-disabled="input.players_disabled"  ng-click="input.players=4;"role="button"  value="4">
				</div>
			</div>
			<div class="form-group col-12">
				<label >玩家人数/All In Players</label>
				<div class="col-12">
					<input type="button" class="btn btn-primary text-white col-4" ng-disabled="input.round_disabled || input.players>3 || input.players===undefined" ng-class="input.round=='flop' ? 'btn-danger': ''"   ng-click="input.round='flop';" role="button" value="翻牌/flop">
					<input type="button" class="btn btn-primary text-white col-4" ng-disabled="input.round_disabled || input.players>3 || input.players===undefined" ng-class="input.round=='turn' ? 'btn-danger': ''"   ng-click="input.round='turn';" role="button" value="转牌/turn">
				</div>
			</div>
			<div class="form-group col-6">
				<label >賠率 odds</label><br>
				<label class="alert">{{odds[input.outs]}}</label>
			</div>
			<div class="form-group col-6">
				<label >补牌数/Outs</label>
				<input type="number"  min="1"    ng-model="input.outs" class="form-control col-md-12" ng-disabled="input.players>3 || input.round===undefined" placeholder="补牌数/Outs">
			</div>
			<div class="form-group col-6">
				<label >底池/Pot</label>
				<input type="number" step="0.5" min="0"  ng-model="input.pot" class="form-control" ng-disabled="input.players>3 || input.round===undefined || odds[input.outs]===undefined || input.pot_disabled" placeholder="底池/Pot">
			</div>
			<div class="form-group col-6">
				<label>保金/buy：</label>
				<input class="form-control" placeholder="保金/buy"  type="number" step="0.1"   ng-model="input.amount" ng-init="input.amount =0" ng-disabled="input.pot===undefined|| input.round===undefined || odds[input.outs]===undefined || input.pot ===null " type="text">
			</div>
			<div class="form-group col-12">
				<label >结果/result</label>
				<div  class="col-12">
					<input type="button" class="btn btn-primary text-white" ng-disabled="input.players>3 || input.players===undefined" ng-class="input.result=='pay'?'btn-danger':''"   ng-click="input.result='pay';" role="button" value="支付/pay">
					<input type="button" class="btn btn-primary text-white" ng-disabled="input.players>3 || input.players===undefined" ng-class="input.result=='nopay'?'btn-danger':''"   ng-click="input.result='nopay';" role="button" value="未支付/no pay"></a>
				</div>
			</div>
			<div class="form-group col-12">
				<label>賠付额/pay amount</label>
				<label ng-show="input.famount>0 && input.result =='pay'"> = {{input.insuredamount}}-{{input.famount}}</label>
				<input class="form-control" step="0.1"  ng-model="input.payamount" placeholder="賠付额/pay amount" ng-disabled="input.result ===undefined || input.payamount_disable" type="number">
			</div>
			<div class="form-group col-12" >
				<input type="submit" ng-click="step=4;goTop();input.confirm=false;"  class="col-md-12 btn btn-info" value="下一步/next" ng-disabled="(input.result == 'pay' && input.payamount==0) || input.pot==0 ||input.players >3 ||input.result===null || input.result===undefined ||  input.pot == null ||  input.result=='' || odds[input.outs]===undefined ">
			</div>
		</form>
	</div>
	<div class="row" ng-show="step==2">
		<div class="col-md-12">
			<div class="table-responsive">          
				<table class="table">
					<thead>
						<tr >
							<th colspan="2" style="text-align: center;">确认/confirm</th>
						</tr>
					</thead>
					<tbody>
					  <tr>
						<td>玩家人数/All In Players</td>
						<td ng-bind="input.players"></td>
					  </tr>
					  <tr>
						<td>下注圈/Betting Round</td>
						<td ng-bind="input.round"></td>
					  </tr>					  
					  <tr>
						<td>补牌数/Outs</td>
						<td ng-bind="input.outs"></td>
					  </tr>	
					  <tr>
						<td>赔率/Odds</td>
						<td ng-bind="odds[input.outs]"></td>
					  </tr>					  
					  <tr>
						<td>底池/Pot</td>
						<td ng-bind="input.pot"></td>
					  </tr>
					  <tr>
						<td>保金上限/Maximum</td>
						<td ng-bind="input.i_maximum"></td>
					  </tr>
					  <tr>
						<td>保金/buy amount</td>
						<td ng-bind="input.amount"></td>
					  </tr>			 
					  <tr>
						<td>保额/insured amount</td>
						<td ng-bind="input.insuredamount"></td>
					  </tr> 
					  <tr>
						<td colspan="2">
							<input  type="text" ng-keyup="check_user_code()" maxlength="6" class="form-control" placeholder="输入使用者6位验证码/please Enter User Code" ng-model="input.ucode" >
						</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group col-6"  >
			<input type="submit" ng-click="save();goTop();" ng-disabled="input.ucode ===undefined || input.ucode === null || input.ucode =='' || checkvcode!='1'" class="col-12 btn btn-info" value="是/Yes" >
		</div>
		<div class="form-group col-6"  >
			<input type="submit" ng-click="step=1" class="col-12 btn btn-info" value="否/No" >
		</div>
	</div>
	<div  ng-show="step==3">
		<form  class="form-row">
			<div class="form-group col-md-12">
				<label >结果/result</label>
				<div class="form-check">
					<input class="form-check-input"  name="result" ng-model="input.result" type="radio"  value="pay">
					<label class="form-check-label" >
						支付/pay
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" name="result" ng-model="input.result" type="radio"  value="nopay">
					<label class="form-check-label" >
						未支付/no pay
					</label>
				</div>
			</div>
			<div class="form-group col-md-12">
				<label>賠付额/pay amount</label>
				<input class="form-control" step="0.1"  ng-model="input.payamount" placeholder="賠付额/pay amount" ng-disabled="input.result ===undefined || input.payamount_disable" type="number">
			</div>
			<div class="form-group col-md-12" >
				<input type="submit" ng-click="update_result()"  class="col-md-12 btn btn-info" value="储存/save" ng-disabled="step !=3 || input.result===null || input.result===undefined ||  input.result==''">
			</div>
		</form>
	</div>
	<div class="row" ng-show="step==4">
		<div class="col-md-12">
			<div class="table-responsive">          
				<table class="table">
					<thead>
						<tr >
							<th colspan="2" style="text-align: center;">收据/invoice </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>玩家人数/All In Players</td>
							<td ng-bind="input.players"></td>
						</tr>
						<tr>
							<td>下注圈/Betting Round</td>
							<td ng-bind="input.round"></td>
						</tr>					  
						<tr>
							<td>补牌数/Outs</td>
							<td ng-bind="input.outs"></td>
						</tr>	
						<tr>
							<td>赔率/Odds</td>
							<td ng-bind="odds[input.outs]"></td>
						</tr>					  
						<tr>
							<td>保金上限/Maximum</td>
							<td ng-bind="input.i_maximum"></td>
						</tr>
						<tr ng-show="input.famount >0">
							<td>翻牌保金/buy flop amount</td>
							<td ng-bind="input.famount"></td>
						</tr>							
						<tr>
							<td>保金/buy {{input.round}} amount</td>
							<td ng-bind="input.amount"></td>
						</tr>	
						<tr>
							<td>结果/result</td>
							<td ng-bind="input.result"></td>
						</tr>
						<tr>
							<td>底池/Pot</td>
							<td ng-bind="input.pot"></td>
						</tr>						
						<tr>
							<td>保额/insurance amount</td>
							<td ng-bind="input.insuredamount"></td>
						</tr>					  
						<tr ng-show="input.result=='pay'">
							<td>赔偿金额/pay amount</td>
							<td ng-bind="input.payamount"></td>
						</tr>						
						<tr ng-show="input.result=='nopay'">
							<td>保金收入/insurance income</td>
							<td ng-bind="input.amount+input.famount"></td>
						</tr> 
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group col-6"  >
			<input type="submit" ng-click="end();" ng-disabled="step!=4 || input.confirm ==true " class="col-12 btn btn-info" value="确认/Confirm" >
		</div>
		<div class="form-group col-6"  >
			<input type="submit" ng-click="step=1;"  ng-disabled="input.confirm ==true" class="col-12 btn btn-info" value="上一步/Prev" >
		</div>
		<div class="form-group col-6">
			<input type="submit" ng-click="buyTurn();" ng-disabled="input.confirm !=true ||step!=4 || input.round != 'flop' " class="col-12 btn btn-info" value="买转牌/Buy Turn" >
		</div>
		<div class="form-group col-6"  >
			<input type="submit" ng-click="newGame()" ng-disabled="step!=4" class="col-12 btn btn-info" value="新开一局/New " >
		</div>
	</div>
	</div>
</main>
