<div class="container " >
    <div class="row justify-content-md-center this-margin-top ">

        <div class="col-sm-12 this-center">
            <h4 class="text-uppercase">Driver is on the Road </h4>
            <hr/>
            <br/>
            <center>
                <img src="http://tuktukindianstreetfood.com/images/1auto.gif" class="img-fluid " width="350"/>
                <p>tuktuk phone number : 1111111111</p>
                <p>tuktuk car number : 001</p>
            </center>
        </div>
    </div>
</div>