<div class="row" ng-init="editFormInit('addTiketForm')" >
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>set Driver</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link" ng-click="back();"><i class="fa fa-arrow-left"></i></a></li>
					<li><a class="close-link" ng-click="tableClose();"><i class="fa fa-close"></i></a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br>
				<form   action="{{data.form.action}}" method="post" class="form-horizontal form-label-left" >
					<div class="form-group" >
						<input name="id" type="hidden" value="{{data.form.id}}"> 
						<label class="control-label col-md-3 col-sm-3 col-xs-6" >TukTuk</label>
						<div class="col-md-2">
							<input min="1"  name="ticket" type="number" max="9"  name="title" required="required" class="form-control" value="{{data.form.info.ticket}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
							<input type="submit" class="btn btn-success" value="Submit">
						</div>
					</div>
				</form>
			</div>
	  </div>
	</div>
</div>