/application/views/templates_c/
/application/views/templates_c/*.php
/application/views/templates_c
/images/food
/cache
/*.DS_Store


/application/*.DS_Stores
/.idea

/application/*.DS_Store
/desktop.ini
